#in{
    background-color: orange;
    height: auto;
}
#million{
    height: 450px;
    background-color: rgb(9, 138, 189);
}
#obe{
  text-align: start;
  height: 300px;
  padding: 30px;
  background-color: rgb(211, 46, 87);
  color: white;
  overflow: inherit;
  
}
#smoke{
    position: relative;
    bottom: 145px;
    left: 450px;
}
#pov{
    position: relative;
    bottom: 195px;
    left: 550px;
   
}
#wine{
position: relative;
bottom: 245px;
left: 650px;
}
#rf{
    margin-top: 25px;
}

#bc{
    position: relative;
    bottom: 230px;
    left: 600px;
}
@media screen and (max-width: 500px) {
    .res{
        display: grid;
        align-items: center;
    }
}
.bigbold{
    font-size: x-large;
    font-weight: bolder;
}
.bigbigbold{
    font-size: xx-large;
    font-weight: bolder;
}
.img-size{
    height: 70px;
    width: 70px;
}
.rowers{
    display: flex;
    justify-content: center;    
    
}

.colArrange{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-bar2{
    height: 50px;
    margin-left: 10px;
}
#Television{
    background-color: rgb(51, 161, 235);
}
#bicyclebar{
    background-color: orange;
    color: white;
    position: relative;
    
    
}
