#in{
    background-color: orange;
    height: auto;
    color:white;
    text-align: center;
}
#million{
    height: 450px;
    background-color: rgb(9, 138, 189);
   color:white;
   text-align: center;
   padding: 2rem;
   
   
}
#obe{
  text-align: start;

  padding: 30px;
  background-color: rgb(211, 46, 87);
  color: white;
  
  
}

.bigbold{
    font-size: x-large;
    font-weight: bolder;
}
.bigbigbold{
    font-size: xx-large;
    font-weight: bolder;
}
.img-size{
    height: 70px;
    width: 70px;
}
.rowers{
    display: flex;
    justify-content: center;    
    
}

.colArrange{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-bar2{
    height: 50px;
    margin-left: 10px;
}
#Television{
    background-color: rgb(51, 161, 235);
}
#bicyclebar{
    background-color: orange;
    color: white;   
}
